{% load nvd3_tags %}
<head>
    {% include_chart_jscss %}
    {% load_chart charttype chartdata chartcontainer extra %}
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/menu.gkmenu.css" type="text/css" />
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/reset/meyer.css" type="text/css" />
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/joomla.css" type="text/css" />
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/template.css" type="text/css" />
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/menu.css" type="text/css" />
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/gk.stuff.css" type="text/css" />
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/typography.style1.css" type="text/css" />
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/typography.iconset.1.css" type="text/css" />
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/typography.iconset.2.css" type="text/css" />
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/typography.iconset.3.css" type="text/css" />
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/style1.css" type="text/css" />
  <link rel="stylesheet" href="http://www.etusolution.com/templates/gk_penguinmail/css/override.css" type="text/css" />



</head>
<body>

<center><h1>各分類佔比統計</h1>
類別選擇:<select >
<option>a 類別</option>
<option>b 類別</option>
<option>c 類別</option>
<option>d 類別</option>
</select>    
    {% include_container chartcontainer %}
    
</center>
</body>